# .gitignore

# -------------------------------
# Django Backend Ignores
# -------------------------------
# Virtual environment folder
/backend/venv/

# Python bytecode
/backend/__pycache__/

# Database files created by Django
/backend/*.sqlite3
/backend/db.sqlite3

# Django secret keys (don't hardcode them!)
.env

# Other system files
.DS_Store

# -------------------------------
# Next.js Frontend Ignores
# -------------------------------
# Node package manager cache and dependencies
/frontend/node_modules/

# Next.js build output and cache
/frontend/.next/

# Next.js dev server cache
/frontend/.next/cache/

# NPM debug logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Next.js specific local environment variables
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/backend/superuser.json

# This line ignores any file that starts with an underscore inside the `frontend` directory.
/frontend/**/_*
